.contribute { /**/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contribute__container {
  width: 100%;
  max-width: 800px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contribute__container p {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}

input[type="text"], input[type="email"],  input[type="password"], input[type="tel"],
select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(28, 135, 249);
}

input::placeholder{
  color: rgba(0, 0, 0, 0.5);
  font-family: MyFont;
}

textarea {
  width: 100%;
}

.form {
  border-radius: 5px;
  background-color: rgba(0, 90, 188, 0.2);
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

small{
  color: red;
}

.form-field{
  margin-bottom: 20px;
}


#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}