.first-grid-anthem {
  width: 700px;
}

.second-grid-anthem {
  display: flex;
  align-items: center;
  justify-content: center;
}

audio::-webkit-media-controls-panel {
  background-color: #005abc;
}

audio::-webkit-media-controls-mute-button {
  background-color: #b1d4e0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, 0.7);
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}

audio::-webkit-media-controls-timeline {
  background-color: #b1d4e0;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
